@model Reservas.Models.Mesa


@{
    ViewData["Title"] = "Eliminar Mesa";
    Layout = "/Views/Shared/_LayoutRes.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Eliminar Mesa</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <div class="card">
                <div class="card-body">
                    <form method="post" asp-action="DeleteMesa">
                        <input type="hidden" asp-for="Id" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NumeroMesa" class="control-label">Número Mesa</label>
                            <input asp-for="NumeroMesa" id="NumeroMesa" class="form-control" disabled/>
                            <span asp-validation-for="NumeroMesa" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="NumeroPersonas" class="control-label">Número Personas</label>
                            <input asp-for="NumeroPersonas" id="NumeroPersonas" class="form-control" disabled/>
                            <span asp-validation-for="NumeroPersonas" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Descripcion" class="control-label">Descripción</label>
                            <input asp-for="Descripcion" id="Descripcion" class="form-control" disabled/>
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Estado" class="control-label">Estado</label>
                            <select id="Estado" asp-for="Estado" class="form-control" disabled>
                                <option selected>Seleccionar estado de mesa</option>
                                <option value="1">Creada</option>
                                <option value="2">Libre</option>
                                <option value="3">Reservada</option>
                            </select>
                            <span asp-validation-for="Estado" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" id="eliminarMesa" value="Eliminar Mesa" class="btn btn-primary" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>

    @section Scripts{
        @{<partial name="_ValidationScriptsPartial" /> }
    }
